[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
	stu = status -uno
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple

[include]
    path = .gitconfig.local
